<style>
.home{
  height: 50vh;
  background-image: url('https://i.pinimg.com/originals/37/dd/0f/37dd0fce33ca756093d3a2836ca65a80.jpg');
}
</style>

<div class="jumbotron">
  <div class="container" align = "center" id = "abt">
    About Page
  </div>
</div>
<br><Br><br><br>

  <div class="container bla transpa" id = "about">
    <p>This Website is made as a monument, so in future we can cherish the past, special momments and keep laughing and enjoy the laugh...!!</p>
  </div>
