<style>
.home{
  height: 50vh;
  background-image: url('https://www.wallpaperflare.com/static/690/958/533/abstract-digital-art-black-background-halftone-pattern-wallpaper.jpg');
}

body{
  background-image: url('https://m.media-amazon.com/images/I/81Kz-RE5OjL._SR500,500_.jpg')
}
</style>

<div class="jumbotron">
  <div class="container">
      Art Speaks where Words are Unable to Explain...!!
  </div>
</div>
<br><Br><br><br>

  <section id = "gallery">
      <div class = "container">
          <div class="row">

              <div class = "col-lg-4 mb-3">
                  <div class="card">
                      <div class="container">
                        <%= image_tag ("k1.jpg"), class: 'card-img-top img-set'%>
                        <div class="centered icon">
                          <div class="span none icon" id = "l1">
                            <% (0 .. 6).to_a.each do |a|%>
                            <i class="fa fa-heart big" aria-hidden="true"></i>
                            <%end%>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">First Thing</h5>
                          <button class="btn btn-outline-danger btn-md" onclick="myFunction(1)">  <i class="fa fa-heart med"  aria-hidden="true"></i></button>
                      </div>
                  </div>
              </div>

              <div class = "col-lg-4 mb-3">
                  <div class="card">
                      <div class="container">
                        <%= image_tag ("k2.jpg"), class: 'card-img-top img-set'%>
                        <div class="centered icon">
                          <div class="span none icon" id = "l2">
                            <% (0 .. 6).to_a.each do |a|%>
                            <i class="fa fa-heart big" aria-hidden="true"></i>
                            <%end%>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">First Thing</h5>
                          <button class="btn btn-outline-danger btn-md" onclick="myFunction(2)">  <i class="fa fa-heart med"  aria-hidden="true"></i></button>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>

  <script>
  function myFunction(num) {
    var x = document.getElementById("l"+num.toString());
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script>
