<style>
.home{
  height: 100vh;
  background-image: url('https://images2.alphacoders.com/674/thumb-1920-674966.jpg');
}
</style>
<section class="home">
</section>

<section class = "section2">
  <div class="transpa">
    <div align= "center">
      Somewhere Special
      to get lost..!!
    </div>
  </div>

</section>


  <section class="container-fluid px-0 section3">

    <br><br><br><br>

    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
            <img src="https://assets.puzzlefactory.pl/puzzle/242/100/original.jpg" alt="" class="img-fluid imborder">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb2 mb-5 mb-md-0">
                    <h2><%=fa_icon "leaf"%><br>We Travel not to Escape Life, but for Life not to Escape us</h2>

                </div>
            </div>
        </div>
    </div>



    <br><br><br><br><br><br>
    <center>
      <div class="bor"></div>
    </center>
    <br><br><br><br><br><br>

    <div class="row align-items-center content">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb1 mb-5 mb-md-0">
                    <h2><%=fa_icon "leaf"%><br>Wherever my Travels may lead, Paradise is where I am</h2>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Italy/gritti-palace-terrace-italian-palazzo-hotels.jpg" alt="" class="img-fluid imborder">
        </div>
    </div>

    <br><br><br><br>
</section>

<section class = "section4">
  <div class="transpa">
    <div align= "center">
    Leave No Regret, Leave no Sigh, Forget the world, Our Dream Paradise is NOT Far Away Both in Time and Distance
    </div>
  </div>
</section>
<div id="site-content" class = "site-content">
  Happy Birthday to You...!!
<br><br>

        <i class="fa fa-heart" aria-hidden="true"></i>
        <%= image_tag ("4.jpg"), class: 'adjust'%>
        <i class="fa fa-heart" aria-hidden="true"></i>
        <br><br><br><br><br>



</div>
<div id="site-footer">

      I gift you The Aspiration to Experience this momments that is not limited to imagination..!!

</div>
