<style>
.home{
  height: 50vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlyhL3hUbcNWEMGQy5VeElES4eXAdQC1ARZg&usqp=CAU');

}
body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYYQwiDbx0yIO_RCCeaM-Fa2sdiK8esB0gww&usqp=CAU')
}
</style>

<div class="jumbotron">
  <div class="container">
      Life is Better When You're Laughing...!!
  </div>
</div>
<br><Br><br><br>

<section id = "gallery">
    <div class = "container">
        <div class="row">
          <%(1 ... 6).to_a.each do |num|%>
            <div class = "col-lg-6 mb-3">
                <div class="card">
                    <div class="container">
                      <%= image_tag ("m#{num}.jpg"), class: 'card-img-top'%>
                      <div class="centered">
                        <div class="span none" id = "l<%=num%>">
                          <% (0 .. 3).to_a.each do |a|%>
                          <i class="far fa-grin-tears big" aria-hidden="true"></i>
                          <i class="fas fa-grin-tears big" aria-hidden="true"></i>
                          <%end%>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First Thing</h5>
                        <button class="btn btn-outline-danger btn-md" onclick="myFunction(<%=num%>)">  <i class="fa fa-heart med"  aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
          <%end%>
        </div>
    </div>
</section>

<script>
function myFunction(num) {
  var x = document.getElementById("l"+num.toString());
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
